style.
  #loading-screen {
    color: #{textColor};
    background-color: #{backgroundColor};
  }
  svg polygon, svg path {
    fill: #{textColor};
  }

figure.loading
  div!=require('!raw!../Assets/interfaces/loading.svg')
  figcaption=text

footer.copy Project-Hex is powered by BabylonJS 
  span!=require('!raw!../Assets/interfaces/babylonjs-logo.svg')
  |  and built with 
  i &hearts;